---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
// import BlogCard from '../../components/blog-card/BlogCard.astro';


const posts = await getCollection("blog");
posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);
---

<Layout title="Blog">
  <main>
    <div class="blog-container main-content-wrapper">
      <div class="main-content">
        <h1>Blog Articles</h1>
        {posts.length === 0 ? (
          <h2>No Recent Posts</h2>
        ) : (
          <ul>
            {posts.map((post) => (
              <li>
                <a href={post.id}>{post.data.title}</a>
              </li>
            ))}
          </ul>
        )}
      </div>
    </div>
    <!-- {blogPosts.map((post) => (
      <BlogCard   
        title={post.title} 
        date={post.date} 
        image={post.image} 
      />
    ))} -->

  </main>
</Layout>


<!-- ---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
const posts = await getCollection('blog');
---

<html>
  <head>
    <title>Blog | Hekatek</title>
  </head>
  <body>
    <h1>Blog</h1>
    <p>Explore our latest insights, tips, and updates.</p>

    <ul>
      {posts.map((post) => (
        <li key={post.id}>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html> -->
